<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="glimpseWcf" type="Glimpse.WCF.GlimpseWcfEndpointBehavior, Glimpse.WCF" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="">
          <glimpseWcf />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <services>
      <service name="TestSite.WCF.SimpleService">
        <endpoint address="" binding="basicHttpBinding" contract="TestSite.WCF.ISimpleService" />
      </service>
      <service name="TestSite.WCF.CompositeService">
        <endpoint address="" binding="basicHttpBinding" contract="TestSite.WCF.ICompositeService" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost/GlimpseServices/WCF/SimpleService.svc"
        binding="basicHttpBinding" contract="SimpleService.ISimpleService" />
    </client>
  </system.serviceModel>

</configuration>
